h1 {
  text-align: center;
}
footer {
  text-align: center;
}
body {
  background-image: url('https://pixabay.com/gifs/id-1918/');
  background-size: cover;

  height: 100vh;
  padding: 0;
  margin: 0;
}
