h1 {
  text-align: center;
}
footer {
  text-align: center;
}
body {
  background-image: url('https://r2.community.samsung.com/t5/image/serverpage/image-id/2858218i730204E8B30E6838/image-size/large?v=v2&px=999');
  background-size: cover;

  height: 100vh;
  padding: 0;
  margin: 0;
}
