h1 {
  text-align: center;
}
footer {
  text-align: center;
}
body {
  background-image: url('https://r2.community.samsung.com/t5/image/serverpage/image-id/2858215iF71DB30EFBED2EBB/image-size/large?v=v2&px=999');
  background-size: cover;

  height: 100vh;
  padding: 0;
  margin: 0;
}
